<!--Generates post-->
<div class="card w-100 bg-dark text-light m-3">
    <a href="/viewpost/{{this.id}}" class="text-decoration-none text-light">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.postcontent}}</p>
            <p class="card-text">Posted on {{this.date}} by {{this.username}}</p>
        </div>
    </a>
</div>