<div class="card w-100 bg-dark text-light m-3">
    <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.postcontent}}</p>
            <p class="card-text">Posted on {{post.date}} by {{post.username}}</p>
        <div>
            {{#if editable}}
                <div class="d-flex justify-content-center">
                    <form action="/edit/{{post.id}}" class="btn btn-warning w-50 m-2 p-2">
                        <button id="editbtn" class="btn btn-warning w-50 m-3 p-2">Edit post</button>
                    </form>

                    <form action="" class="btn btn-danger w-50 m-2 p-2" id="deleteFtn">
                        <button id="deletebtn" class="btn btn-danger w-50 m-3 p-2">Delete post</button>
                    </form>
                </div>
            {{/if}}
            <h5>Comments</h5>
            <form id="addcomment">
                <input type="text" class="form-control p-2" placeholder="Add a comment!" id="commentcontent">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success w-50 m-3 p-2">Add Comment</button>
                </div>
            </form>
        </div>
        {{#each comments}}
        {{> comment }}
        {{/each}}
    </div>
</div>

<script src="/js/delete.js"></script>
 <script src="/js/addcomment.js"></script>
 
